<div class="container">
  <div class="row">
    <div class="col-md-10">
      <h1>
        <% if @task.complete == true %>
        <s><%= @task.description %></s>
        <% else %>
        <%= @task.description %>
        <% end %>
      </h1>
    </div>

    <div class="col-md-2">
      <div class='pull-right'>
        <%=  link_to "Edit", edit_task_path, class: "btn btn-info margin-top-button" %>
      </div>
    </div>
  </div>


  <hr>




  <ol class="breadcrumb">
    <li> <%= link_to "Tasks", tasks_path %></li>
  <li class="active"> <%= @task.description %></li>
  </ol>


</div>
