<div class="container">
  <div class="page-header">
        <%=  link_to "Edit", edit_user_path, class: "btn btn-info pull-right" %>
      <h1>
        <%= @user.first_name %> <%= @user.last_name %>
      </h1>
    </div>


<p></p>
<dl class="dl-horizontal">
  <dt><b>First Name</b></dt>
    <dd><%= @user.first_name %></dd>
      <p> </p>
  <dt><b>Last Name</b></dt>
    <dd><%= @user.last_name %></dd>
      <p> </p>
  <dt><b>Email</b></dt>
    <dd><%= mail_to @user.email %></dd>
</dl>






  </div>




<!--
  <ol class="breadcrumb">
    <li> <%= link_to "Users", users_path %></li>
    <li class="active"> <%= @user.last_name %></li>
  </ol> -->


</div>
