<!DOCTYPE html>
<html>
<head>
  <title>Gcamp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-brand">
        <p>gCamp</p>
      </div>
    </div>
  </nav>
<%= yield %>

<div class="container">

<footer>
  <hr>
  <%= link_to "About", about_path%>
  |
  <%= link_to "Terms", terms_path%>
</nav>
</footer>
</div>
</body>
</html>
