<!DOCTYPE html>
<html>
<head>
  <title>Gcamp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-brand">
        <p>gCamp</p>
      </div>
    </div>
  </nav>
<%= yield %>


<div class="container">

  <footer>
    <hr>
    <%= link_to "About", about_path%>
    |
    <%= link_to "Terms", terms_path%>


      <%= link_to image_tag('gschool_logo.png', class: 'link_image' ), "https://students.gschool.it/cohorts/8/students/273"%>
      <%= link_to image_tag('twitter_logo.png', class: 'link_image' ), "https://twitter.com/BSteinbook"%>
      <%= link_to image_tag('github_logo.png', class: 'link_image'), "https://github.com/Weebaw"%>
      <%= link_to image_tag('linkedin_logo.jpg', class: 'link_image'), "https://www.linkedin.com/profile/view?id=396211363&trk=nav_responsive_tab_profile", class: "social-media"%>

  </div>
</footer>
</hr>
</body>
</html>
